# Database
# PostgreSQL (producción/recomendado):
DATABASE_URL="postgresql://user:password@localhost:5432/lavadero?schema=public"
# SQLite (desarrollo rápido):
# DATABASE_URL="file:./prisma/dev.db"

# NextAuth (REQUERIDO)
NEXTAUTH_SECRET="your-secret-key-here-generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# App
APP_NAME="Lavadero Sistema"
APP_URL="http://localhost:3000"

# Otros
NODE_ENV="development"

